@font-face {
  font-family: "MapleMono";
  src: url("../assets/font/MapleMono-NF-CN-Regular.ttf");
}

/* 设置代码块字体 */
:root {
  --md-code-font: "MapleMono";
}

/* 设置网格容器的最大宽度 */
.md-grid {
    max-width: 1440px;
}

/* 设置内容区域的左右内边距 */
.md-content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/* 隐藏侧边栏的滚动条 */
.md-sidebar__scrollwrap {
    scrollbar-width: none;
}

/* 设置图表标题的样式 */
.md-typeset figcaption {
    font-style: normal;
    font-size: smaller;
    color: #646a73;
    max-width: 35rem;
}

/* 设置表格显示为全宽 */
.md-typeset__table,
.md-typeset__table table:not([class]) {
  width: 100%;
  display: table;
}

/* 设置表格默认垂直居中 */
.md-typeset table:not([class]) td:not([align]), .md-typeset table:not([class]) th:not([align]) {
    vertical-align: middle;
    text-align: center;
}

/* 设置反馈提示的样式 */
.md-feedback__title {
    font-size: smaller;
}
